/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* End of Eric Meyer's CSS Reset */

html {
    height: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

@font-face {
    font-family: 'FranklinGothic-Medium';
    src: url('../fonts/FranklinGothic-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FranklinGothic-Medium.woff') format('woff'),
    url('../fonts/FranklinGothic-Medium.ttf') format('truetype'),
    url('../fonts/FranklinGothic-Medium.svg#FranklinGothic-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FranklinGothic-Book';
    src: url('../fonts/FranklinGothic-Book.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FranklinGothic-Book.woff') format('woff'),
    url('../fonts/FranklinGothic-Book.ttf') format('truetype'),
    url('../fonts/FranklinGothic-Book.svg#FranklinGothic-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

.pixel {
    background: url(../images/home-pixel.jpg) 0 0 no-repeat;
    width: 100%;
    height: 6958px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.6;
    z-index: 100;
    display: block;
}

/*custom select begin*/
.jcf-hidden {
    display: block !important;
    position: absolute !important;
    left: -9999px !important;
}

.select-area {
    position: relative;
}

/*custom select end*/
body {
    font: 18px "PT Sans", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    width: 100%;
    color: #000000;
    background: #fff;
    position: relative;
}
body .select-options{
    z-index: 999;
}
h1 {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 60px;
    color: #38383a;
    display: block;
}

h2 {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 48px;
    color: #38383a;
    display: block;
}
a{
    cursor: pointer;
}
.center {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 15px;
}

.page {
    position: relative;
    overflow: hidden;
}
.page.header-fixed .content{
    margin-top: 64px;
}
/* Header
-----------------------------------------------------------------------------*/
.header{
    background: #fff;
}
.header.fixed{
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 999;
}
.header .center{
    max-width: 1100px;
}
.in-header {
    padding: 16px 0 7px;
    position: relative;
}

.in-header:after {
    content: '';
    display: block;
    clear: both;
}

.logo {
    float: left;
}
.logo > a {
    display: block;
}
.top-menu {
    float: left;
    min-width: 510px;
    padding: 3px 21px 0 142px;
    position: relative;
}

.top-menu:after {
    content: '';
    display: block;
    clear: both;
}

.top-menu > li {
    float: left;
    margin-left: 31px;
    position: relative;
}
.top-menu > li:first-child{
    margin-left: 0;
}
.top-menu > li a {
    font-family: "FranklinGothic-Book", "PT Sans", Arial, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
    color: #38383a;
    position: relative;
    letter-spacing: 2.5px;
    cursor: pointer;
}
.top-menu > li .drop{
    position: absolute;
    top: 45px;
    z-index: 1;
    background: #414042;
    font-weight: 400;
    padding: 10px;
    min-width: 165px;
    max-width: 165px;
    display: none;
}
.top-menu > .has-drop:hover .drop{
    display: block;
}
.top-menu > li .drop:after{
    content: '';
    display: block;
    background: transparent;
    position: absolute;
    left: 0;
    right: 0;
    top: -23px;
    width: 100%;
    height: 27px;
    z-index: 2;
}
.top-menu > li .drop li{
    padding-bottom: 5px;
}
.top-menu > li .drop a{
    font-size: 16px;
    color: #ffffff;
    font-family: "PT Sans", Arial, sans-serif;
    text-transform: none;
    cursor: pointer;
}
.top-menu > li .drop a:hover{
    color: #dcc36a;
}
.btn-mob-nav{
    float: left;
    display: none;
    width: 30px;
    height: 20px;
    margin: 6px 12px;
    outline: none;
    cursor: pointer;
}
.btn-mob-nav span{
    background: #25aae2;
    margin-top: 2px;
    display: block;
    height: 5px;
    width: 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

}
.btn-mob-nav span:first-child{
    margin-top: 0;
}
.wrap-top-info{
    float: right;
}
.header .wrap-feedback {
    padding: 2px 20px 0 0;
}

.wrap-feedback button {
    background: #25aae2;
    border: 0;
    padding: 2px 8px 3px 29px;
    position: relative;
    font-family: "FranklinGothic-Book", "PT Sans", Arial, sans-serif;
    font-size: 18px;
    color: #fff;
    display: block;
    cursor: pointer;
    outline: none;
}
.wrap-feedback button:active,
.wrap-feedback button:focus{
    outline: none;
}
.wrap-feedback button::-moz-focus-inner {
    border: 0;
}
.wrap-feedback button:after {
    content: '';
    display: block;
    background: url("../images/sprites-icon.png") 0 0;
    width: 18px;
    height: 15px;
    position: absolute;
    left: 7px;
    top: 6px;
}

.wrap-top-cart {
    padding-top: 6px;
}

.wrap-top-cart button {
    background: url("../images/sprites-icon.png") -66px 0;
    width: 28px;
    height: 20px;
    border: 0;
    display: block;
}

.wrap-feedback,
.wrap-top-cart,
.wrap-top-lang {
    float: left;
}

.wrap-top-lang {
    padding: 3px 0 0 12px;
}

.wrap-top-lang .center,
.select-options li a {
    font-family: "FranklinGothic-Book", "PT Sans", Arial, sans-serif;
    font-size: 16px;
    color: #38383a;
    cursor: pointer;
    text-decoration: none;
}

.wrap-top-lang .select-opener {
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 12px solid #33475d;
    display: block;
    position: absolute;
    right: -8px;
    top: 8px;
    cursor: pointer;
}
.wrap-top-menu:after{
    content: '';
    display: block;
    clear: both;
}

/* Middle
-----------------------------------------------------------------------------*/
/* col-s */
[class*="col-"]{
    float: left;
}
.row:after{
    content: '';
    display: block;
    clear: both;
}
.row{
    position: relative;
    width: 100%;
}
.col-1  { width: 4.66666666667%; }
.col-2  { width: 13.3333333333%; }
.col-3  { width: 22%;            }
.col-4  { width: 30.6666666667%; }
.col-5  { width: 39.3333333333%; }
.col-6  { width: 48%;            }
.col-7  { width: 56.6666666667%; }
.col-8  { width: 65.3333333333%; }
.col-9  { width: 74.0%;          }
.col-10 { width: 82.6666666667%; }
.col-11 { width: 91.3333333333%; }
.col-12 { width: 100%;           }

/* Offsets */
.offset-col-1  { margin-left: 8.66666666667%; }
.offset-col-2  { margin-left: 17.3333333333%; }
.offset-col-3  { margin-left: 26%;            }
.offset-col-4  { margin-left: 34.6666666667%; }
.offset-col-5  { margin-left: 43.3333333333%; }
.offset-col-6  { margin-left: 52%;            }
.offset-col-7  { margin-left: 60.6666666667%; }
.offset-col-8  { margin-left: 69.3333333333%; }
.offset-col-9  { margin-left: 78.0%;          }
.offset-col-10 { margin-left: 86.6666666667%; }
.offset-col-11 { margin-left: 95.3333333333%; }

.section .text-right {
    color: #000000;
    float: right;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 29px;
    max-width: 422px;
    text-align: center;
    position: relative;
    z-index: 1;
}

.section .text-left {
    color: #000000;
    float: left;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 29px;
    max-width: 422px;
    text-align: center;
    position: absolute;
    bottom: 51px;
    z-index: 1;
}
.content {}
.slider.section{
    margin: 0 -9999px;
    padding: 0 9647px;
}
.section:after{
    content: '';
    display: block;
    clear: both;
}
.section .wrap-arrow {
    text-align: center;
    padding: 0 0 11px 0;
}
.section h1,
.section h2 {
    text-align: center;
}
.who-we-are .wrap-arrow{
    padding-top: 17px;
}
.who-we-are .title{
    padding-bottom: 47px;
}
.who-we-are .text{
    background: #f2f0e9;
    margin: 0 -9999px;
    padding: 25px 10099px 30px;
    position: relative;
    overflow: hidden;
}
.who-we-are .text:after{
    content: '';
    display: block;
    clear: both;
}
.who-we-are .text-left{
    position: static;
    float: left;
    max-width: 440px;
    padding-right: 20px;
}
.who-we-are .text-right{
    position: static;
    float: right;
    max-width: 440px;
    padding-left: 20px;
}
.who-we-are .in-text{
    float: right;
}
.who-we-are .text-left,
.who-we-are .text-right{
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 25px;
    color: #4d4d4d;
    text-transform: uppercase;
    text-align: left;
    line-height: 30px;
    letter-spacing: normal;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
}
.who-we-are .text-left span,
.who-we-are .text-right span{
    color: #f7931e;
}
.who-we-are .img-box.big{
    clear: both;
    margin: -190px auto 50px;
    position: relative;
    text-align: center;
    z-index: 14;
}
.who-we-are .img-box.small{
    display: none;
}
.who-we-are .bottom-text{
    display: none;
}
.who-we-are .bottom-text h1{
    font-size: 24px;
    font-family: "PT Sans", Arial, sans-serif;
    font-style: italic;
}
.who-we-are .color-1{
    background: #f7921e;
    color: #ffffff;
}
.who-we-are .color-2{
    background: #dddddd;
    color: #001a36;
}
.who-we-are .color-3{
    background: #24aae1;
    color: #ffffff;
}
.who-we-are .color-4{
    background: #d8f1fc;
    color: #001a36;
}
.who-we-are .color-5{
    background: #e9c32f;
    color: #ffffff;
}
.who-we-are .color-6{
    background: #f2f0e9;
    color: #001a36;
}
.who-we-are .color-1 h1,
.who-we-are .color-3 h1,
.who-we-are .color-5 h1{
    color: #fff;
}
.who-we-are .color-2 h1,
.who-we-are .color-4 h1,
.who-we-are .color-6 h1{
    color: #001a36;
}
.who-we-are .col-4{
    padding: 0 1.333%;
}
.who-we-are .col-4:first-child{
    margin-left: 0;
}
.who-we-are .text .text{
    display: table;
    width: 100%;
    height: 100%;
    background: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.who-we-are .text-position{
    display: table-cell;
    vertical-align: middle;
}
.who-we-are .img-box.big img{
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 1040px;
}
.in-what-we-do {
    padding: 19px 65px 0 72px;
    position: relative;
}
.in-what-we-do h1 {
    letter-spacing: 1px;
    padding: 0 0 20px 21px;
}
.in-what-we-do .text {
    display: block;
    text-align: center;
}
.in-what-we-do .img-box {
    clear: both;
    position: relative;
    text-align: center;
    top: -50px;
}
.in-what-we-do .big-img {
    display: block;
}
.in-what-we-do .small-img {
    display: none;
}
.in-what-we-do .img-box img {
    display: block;
    width: 100%;
    max-width: 1060px;
}
.our-technologies{
    color: #fff;
    background: #25aae2;
    padding: 15px 0 90px;
}
.our-technologies h2{
    color: #fff;
    letter-spacing: 2px;
    padding-bottom: 26px;
}
.our-technologies .read-more-btn{
    color: #1C1C23;
}
.our-technologies .read-more-btn::after {
    border-left-color: #1C1C23;
}
.our-experience .img-box{
    padding-bottom: 100px;
}
.our-experience .img-box.big img{
    display: block;
    width: 100%;
    margin: 0 auto;
    max-width: 1061px;
}
.our-experience .img-box.small{
    display: none;
}
.our-experience .img-box.small img{
    display: block;
    width: 100%;
    margin: 0 auto;
    max-width: 123px;
}
.our-experience .small .row{
    font-size: 0;
    line-height: 0;
    letter-spacing: -1px;
    text-align: center;
}
.our-experience .small [class*="col-"]{
    float: none;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    line-height: normal;
    letter-spacing: normal;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 15px;
    margin-bottom: 10px;
}
.our-experience h2{
    font-size: 25px;
    color: #aaa8a7;
    font-weight: 700;
    letter-spacing: 4px;
    padding-bottom: 45px;
}
.our-experience h2 span{
    color: #f7931e;
}
.our-experience .medium{
    padding: 30px 0 70px;
}
.our-experience .medium img{
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 733px;
}
.section .text-center{
    font-family: "PT Sans",Arial,sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: normal;
    margin: 0 auto;
    max-width: 780px;
    text-align: center;
}
.in-software-development{
    padding: 33px 0 88px 14px;
}
.in-software-development h2{
    padding-bottom: 33px;
    letter-spacing: 1px;
}
.in-software-development .text-center{
    color: #000000;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 28px;
    padding-bottom: 64px;
}
.in-software-development .img-box img{
    display: block;
    width: 100%;
    max-width: 797px;
    margin: 0 auto;
}
.read-more-btn{
    font-family: "PT Sans",Arial,sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    color: #25aae2;
    text-decoration: none;
    position: relative;
    letter-spacing: 1px;
    cursor: pointer;
    display: inline-block;
    outline: none;
}
.read-more-btn:after{
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 9px solid transparent;
    border-left: 16px solid #25aae2;
    border-bottom: 9px solid transparent;
    position: absolute;
    right: -23px;
    top: 5px;
}
.order-btn{
    text-align: center;
}
.order-btn:after{
    content: '';
    display: block;
    clear: both;
}
.order-btn button{
    font-family: "FranklinGothic-Book", "PT Sans", Arial, sans-serif;
    color: #ffffff;
    font-size: 18px;
    border: 0;
    background: #25aae2;
    padding: 2px 7px;
    letter-spacing: 1px;
    cursor: pointer;
}
.in-software-development .img-box{
    padding-bottom: 60px;
}
.in-software-development .order-btn button{
    background: #94c8de;
    color: #171719;
}
.web-design .title{
    background: #25aae2;
    letter-spacing: 1px;
    padding: 0 0 7px;
}
.web-design h2{
    color: #ffffff;
}
.web-design .block-left{
    float: left;
    width: 60%;
}
.web-design .block-right{
    float: left;
    padding: 46px 15px 20px;
    width: 40%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.web-design .block-left img{
    display: block;
    width: 100%;
}
.web-design .block-right img{
    display: block;
    margin: 0 auto;
}
.web-design .order-btn{
    padding-bottom: 44px;
}
.web-design .text-right{
    padding-bottom: 28px;
    float: none;
    margin: 0 auto;
}
.redesign{
    text-align: center;
    padding-bottom: 71px;
}
.redesign .title{
    margin: 0 -9999px;
    padding: 0 9999px 12px;
    background: #e7e4df;
    letter-spacing: 1px;
    line-height: 61px;
}
.redesign h2{
    margin: 0 auto;
    max-width: 445px;
    color: #25aae2;
}
.redesign .for{
    font-family: "PT Sans",Arial,sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #38383a;
    display: block;
    text-align: center;
    padding: 14px 0 8px 11px;
}
.redesign ul{
    font-size: 0;
    line-height: 0;
    letter-spacing: -1px;
    padding: 0 0 30px 48px;
}
.redesign ul li{
    font-family: "PT Sans",Arial,sans-serif;
    font-weight: 400;
    display: inline-block;
    vertical-align: top;
    color: #38383a;
    font-size: 30px;
    line-height: normal;
    letter-spacing: 1px;
    margin-right: 32px;
}
.redesign .text-center{
    max-width: 670px;
    font-size: 18px;
    padding-bottom: 34px;
}
.redesign .order-btn button{
    background: #e9c32f;
    color: #000000;
}
.graphic-design{
    background: #dadada;
    padding-bottom: 71px;
}
.graphic-design .title {
    background: #38383a;
    letter-spacing: 1px;
    line-height: 61px;
    padding-bottom: 9px;
}
.graphic-design h2{
    color: #f0f0f0;
}
.graphic-design .text-center{
    max-width: 680px;
    padding-bottom: 49px;
    padding-top: 45px;
}
.prototyping .title {
    background: #25aae2;
    letter-spacing: 1px;
    line-height: 61px;
    padding: 20px 0 45px;
}
.prototyping h2{
    color: #ffffff;
}
.prototyping.section {
    padding: 0 0 88px;
    position: relative;
}
.prototyping .wrap-arrow{
    padding: 0 0 13px 15px;
}
.prototyping .text-center{
    max-width: 685px;
    padding: 42px 0 39px;
}
.prototyping .img-box{
    text-align: center;
}
.prototyping .img-box.first img{
    display: block;
    width: 100%;
}
.prototyping .order-btn{
    padding-bottom: 41px;
}
.deployment-testing .block-left{
    width: 50%;
    float: left;
    text-align: center;
    background: #25aae2;
    padding-bottom: 62px;
    position: relative;
}
.deployment-testing .block-right{
    width: 50%;
    float: right;
    text-align: center;
    background: #94c8de;
    padding-bottom: 62px;
}
.deployment-testing .block-left:after{
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 45px solid transparent;
    border-right: 45px solid transparent;
    border-top: 55px solid #fff;
    position: absolute;
    right: -45px;
    top: 0;
    z-index: 1;
}
.deployment-testing .block-left .title:after{
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 25px solid #25aae2;
    position: absolute;
    right: -6px;
    bottom: 0;
}
.deployment-testing .block-right .title:after{
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 25px solid #94c8de;
    position: absolute;
    left: -6px;
    bottom: 0;
}
.in-left .read-more-btn{
    color: #1c1c23;
}
.in-left .read-more-btn:after{
    border-left-color: #1c1c23;
}
.in-right .read-more-btn{
    color: #ffffff;
}
.in-right .read-more-btn:after{
    border-left-color: #ffffff;
}
.deployment-testing .title{
    position: relative;
    overflow: hidden;
}
.deployment-testing .in-left,
.deployment-testing .in-right{
    padding: 40px 20px;
}
.deployment-testing .block-left .title{
    letter-spacing: 3px;
    background: #dddddd;
}
.deployment-testing .title h2{
    color: #59595c;
}
.in-left .text-center{
    color: #e8dede;
    padding-bottom: 26px;
}
.in-left .order-btn{
    padding-bottom: 45px;
}
.in-left button{
    background: #d8f1fc;
    color: #000;
}
.deployment-testing .block-right .title{
    letter-spacing: 2px;
    background: #f2f0e9;
}
.in-right .text-center{
    padding-bottom: 26px;
}
.in-right .order-btn{
    padding-bottom: 44px;
}
.in-right button{
    background: #59595c;
    color: #fefefe;
}
.optimization{
    padding: 41px 0 87px;
    text-align: center;
}
.optimization .wrap-arrow{
    padding-left: 14px;
}
.optimization .title{
    padding-bottom: 29px;
}
.optimization .text-center{
    max-width: 600px;
    padding-bottom: 43px;
}
.optimization .order-btn{
    padding-bottom: 44px;
}
.our-special .title {
    background: #55595b;
    letter-spacing: 2px;
    line-height: 61px;
    margin: 0 -9999px;
    padding: 5px 9999px 14px;
    margin-bottom: 12px;
}
.our-special h2{
    color: #ffffff;
}
.our-special .wraps-table{
    background: #dadada;
    margin: -17px -9999px 0;
    padding: 0 9999px;
}
.our-special .wrap-table{
    float: left;
    width: 25%;
}
.our-special .table{
    width: 100%;
    text-align: center;
}
.our-special .table td{
    font-family: "PT Sans",Arial,sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
}
.our-special .three td{
    font-size: 48px;
    color: #ffffff;
}
.our-special .table-3 td{
    color: #dadada;
}
.our-special .table-1{
    background: #d1ac19;
}
.table-1 .three td{
    background: #fff;
    color: #38383a;
}
.table-2 .three td{
    background: #d1ac19;
    color: #fff;
}
.our-special .table-2{
    background: #dadada;
}
.table-2 .one td{
    color: #25aae2;
}
.table-3 .three td{
    background: #94c8de;
    color: #fff;
}
.our-special .table-3{
    background: #59595c;
}
.table-4 .three td{
    background: #ffffff;
    color: #ff5e1f;
}
.our-special .table-4{
    background: #25aae2;
}
.our-special .table strong{
    font-family: "PT Sans",Arial,sans-serif;
    font-weight: 700;
}
.our-special .one td{
    padding: 24px 0;
    font-family: "PT Sans",Arial,sans-serif;
    font-weight: 400;
    font-size: 33px;
    line-height: 37px;
    color: #fff;
    vertical-align: middle;
}
.our-special .four td{
    padding: 20px;
}
.table-1 .two td,
.table-2 .two td{
    font-size: 21px;
    color: #000000;
    padding: 38px 0 4px;
}
.table-3 .two td,
.table-4 .two td{
    font-size: 21px;
    color: #fff;
    padding: 0 0 5px;
}
.our-special ul li{
    padding-bottom: 10px;
}
/* Footer
-----------------------------------------------------------------------------*/
.footer {
    background: #e3e2f3;
    margin: 0 -9999px;
    padding: 40px 9999px 30px;
}
.footer .center{
    max-width: 1100px;
}
.in-footer:after{
    content: '';
    display: block;
    clear: both;
}
.footer-left:after{
    content: '';
    display: block;
    clear: both;
}
.footer-left{
    float: left;
    width: 70%;
}
.footer-right{
    float: right;
    width: 30%;
}
.footer-contacts{
    float: left;
    width: 30%;
}
.footer-links{
    float: right;
    width: 70%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 52px 50px 0;
}
.footer-links .item {
    float: left;
    box-sizing: border-box;
    width: 33%;
    padding-right: 15px;
}
.footer-links h2 {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #3e5879;
    display: block;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-bottom: 8px;
}
.footer-links li {
    padding-bottom: 7px;
    text-align: center;
}
.footer-links li a {
    font-size: 18px;
    color: #414042;
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 400;
    text-decoration: none;
    display: block;
}
.footer-links h3{
    font-size: 18px;
    color: #414042;
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 700;
    display: block;
    padding-bottom: 15px;
    text-align: center;
}
.contacts-block h3{
    color: #38383a;
    font-family: "FranklinGothic-Book", "PT Sans", Arial, sans-serif;
    font-size: 18px;
}
.contacts-block span{
    color: #38383a;
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 21px;
    display: block;
    padding-bottom: 15px;
}
.contacts-block a{
    font-size: 18px;
    color: #25aae2;
    font-family: "FranklinGothic-Book", "PT Sans", Arial, sans-serif;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
.contacts-block{
    border-bottom: 3px solid #25aae2;
    padding-bottom: 12px;
    margin-bottom: 18px;
}
.footer-contacts p{
    color: #414042;
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 400;
}
.footer-right .wrap-feedback{
    float: none;
    padding-bottom: 16px;
}
.footer-right h3{
    font-size: 18px;
    color: #25aae2;
    font-family: "FranklinGothic-Book", "PT Sans", Arial, sans-serif;
    display: block;
    padding-bottom: 10px;
}
.input-box{
    padding-bottom: 12px;
}
.textarea-box{
    padding-bottom: 30px;
}
.input-box input{
    border: 0;
    width: 100%;
    height: 32px;
    padding: 0 10px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    font-size: 18px;
    color: #b9aaaa;
    font-family: "FranklinGothic-Book", "PT Sans", Arial, sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.textarea-box textarea{
    border: 0;
    width: 100%;
    height: 90px;
    padding: 5px 10px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    font-size: 18px;
    color: #b9aaaa;
    font-family: "FranklinGothic-Book", "PT Sans", Arial, sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.social ul:after{
    content: '';
    display: block;
    clear: both;
}
.social ul li:first-child{
    margin-left: 0;
}
.social ul li{
    float: left;
    margin-left: 23px;
}
.social a{
    cursor: pointer;
}
.social .sk a{
    background: url("../images/sprites-icon.png") 0 -22px;
    display: block;
    width: 47px;
    height: 47px;
}
.social .fb a{
    background: url("../images/sprites-icon.png") -48px -22px;
    display: block;
    width: 45px;
    height: 46px;
}
.social .tw a{
    background: url("../images/sprites-icon.png") -94px -22px;
    display: block;
    width: 46px;
    height: 46px;
}
.social .in a{
    background: url("../images/sprites-icon.png") -141px -22px;
    display: block;
    width: 45px;
    height: 46px;
}
.social .gl a{
    background: url("../images/sprites-icon.png") -187px -22px;
    display: block;
    width: 46px;
    height: 46px;
}
.footer-bottom-line{
    background: #25aae2;
    padding: 25px 0;
}
/*popup begin*/
.popup{
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 400;
    text-align: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 9998;
    display: none;
    /*background: rgba(0, 0, 0, 0.8);*/
}
.popup:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 1px;
    height: 100%;
    background: transparent;
}
.popup h1{
    font-size: 48px;
    color: #7e7e7e;
    display: block;
    padding-bottom: 20px;
}
.popup .popup-holder{
    font-size: 24px;
    color: #414042;
    display: inline-block;
    vertical-align: middle;
    min-width: 30%; max-width: 60%;
    background: #fff;
    border: 2px solid #414042;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 60px 40px 100px;
    z-index: 9999;
    position: relative;
}
.popup .in-popup-holder{
    max-width: 650px;
}
.popup .btn-close{
    position: absolute;
    right: 25px;
    top: 25px;
    display: block;
    width: 28px;
    height: 28px;
    background: url("../images/sprites-icon.png") -272px 0 no-repeat;
    cursor: pointer;
}
/*popup end*/

/*ribbon begin*/

.ribbon-wrapper {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
}
.ribbon-front {
    background-color: #24aae1;
    border: 2px solid #fff;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}
.ribbon-wrapper::before {
    content: '';
    width: 0px;
    height: 0px;
    border-right: 120px solid #24aae1;
    border-top: 38px solid #24aae1;
    border-left: 27px solid transparent;
    border-bottom: 38px solid #24aae1;
    position: absolute;
    left: -73px;
    top: -12px;
}
.ribbon-wrapper::after{
    content: '';
    width: 0px;
    height: 0px;
    border-right: 27px solid transparent;
    border-top: 38px solid #24aae1;
    border-left: 120px solid #24aae1;
    border-bottom: 38px solid #24aae1;
    position: absolute;
    right: -73px;
    top: -12px;
}
.ribbon-front::before{
    content: '';
    display: block;
    background: url("../images/main/ribbon-left-1.png") 0 0 no-repeat;
    width: 72px;
    height: 12px;
    position: absolute;
    top: -14px;
    left: 0;
}
.ribbon-front::after{
    content: '';
    display: block;
    background: url("../images/main/ribbon-right-1.png") 0 0 no-repeat;
    width: 72px;
    height: 12px;
    position: absolute;
    top: -14px;
    right: 0;
}
.ribbon-wrapper h1{
    color: #fff;
}
.our-special .ribbon-wrapper{
    max-width: 1020px;
}
.our-special .ribbon-front{
    max-width: 1020px;
}
.wrap-top-menu.active .top-menu{
    display: block;
}
.drop-list{
    background: #fff;
    text-align: center;
}
.in-show-hide{
    text-align: left;
    display: none;
}
.wrap-show-hide.show .show{
    display: none;
}
.wrap-show-hide p{
    padding-bottom: 10px;
    text-align: left;
}
.lable-list{
    display: block;
    font-weight: normal;
    padding-bottom: 20px;
}
.in-show-hide ul{
    padding-left: 25px;
}
.in-show-hide li{
    padding-bottom: 5px;
    list-style: initial;
}
.read-more-btn.hide:after{
    top: -2px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 13px solid #1c1c23;
}
.software-development .hide:after,
.redesign .hide:after,
.graphic-design .hide:after,
.prototyping .hide:after,
.optimization .hide:after{
    border-bottom-color: #25aae2;
}
@media only screen and (max-width: 767px) {
    .ribbon-wrapper h1{
        font-size: 30px;
    }
    .ribbon-wrapper::before{
        border-right: 40px solid #24aae1;
        border-top: 22px solid #24aae1;
        border-left: 16px solid transparent;
        border-bottom: 22px solid #24aae1;
        left: -54px;
    }
    .ribbon-wrapper::after{
        border-right: 16px solid transparent;
        border-top: 22px solid #24aae1;
        border-left: 40px solid #24aae1;
        border-bottom: 22px solid #24aae1;
        right: -54px;
    }
    .ribbon-wrapper{
        margin: 0 70px;
    }
}
@media only screen and (max-width: 460px) {
    .ribbon-wrapper::before,
    .ribbon-wrapper::after,
    .ribbon-front::before,
    .ribbon-front::after{
        display: none;
    }
    .ribbon-front,
    .ribbon-wrapper{
        width: 100%;
    }
    .ribbon-wrapper{
        margin: 0;
    }
}
/*ribon end*/

/*begin media*/
@media only screen and (max-width: 1200px) {
    .section.who-we-are br{
        display: none;
    }
}
@media only screen and (max-width: 1150px) {
    .deployment-testing .title h2{
        font-size: 32px;
    }
}
@media only screen and (max-width: 1060px) {
    .top-menu{
        padding-top: 6px;
    }
    .top-menu > li .drop:after{
        top: -9px;
        height: 13px;
    }
    .top-menu > li .drop{
        top: 31px;
    }
}
@media only screen and (max-width: 900px) {
    .who-we-are .text-left,
    .who-we-are .text-right{
        font-size: 20px;
        line-height: 26px;
    }
    .who-we-are .img-box.big{
        margin-top: -165px;
    }
}
@media only screen and (max-width: 860px) {
    .in-what-we-do{
        padding-bottom: 50px;
    }
    .in-what-we-do .img-box{
        top: 30px;
        margin-bottom: 60px;
    }
    .in-what-we-do .text-right{
        float: none;
        margin: 0 auto;
    }
    .in-what-we-do .text-left{
        position: static;
        margin: 0 auto;
        float: none;
    }
    .web-design .block-left {
        float: none;
        width: 100%;
    }
    .web-design .block-right {
        float: none;
        width: 100%;
    }
    .deployment-testing .block-left{
        float: none;
        width: 100%;
    }
    .deployment-testing .block-right{
        float: none;
        width: 100%;
    }
    .deployment-testing .in-right{
        padding-left: 0;
    }
    .deployment-testing .block-left::after,
    .deployment-testing .block-left .title::after,
    .deployment-testing .block-right .title::after{
        display: none;
    }
    .our-special .wrap-table{
        width: 100%;
        float: none;
    }
    .footer-left {
        float: none;
        width: 100%;
    }
    .footer-right {
        float: none;
        text-align: center;
        width: 100%;
    }
    .footer-right .wrap-feedback{
        text-align: center;
        float: none;
    }
    .footer-right .wrap-feedback button{
        display: inline-block;
    }
    .social ul li{
        float: none;
        display: inline-block;
    }
}
@media only screen and (max-width: 820px) {
    .who-we-are .img-box.big{
        display: none;
    }
    .who-we-are .img-box.small{
        display: block;
        text-align: center;
        margin: 0 auto;
        padding: 4% 35%;
    }
    .who-we-are .img-box.small img{
        display: block;
        margin: 0 auto;
        text-align: center;
        width: 100%;
        max-width: 174px;
    }
    .who-we-are .text-left,
    .who-we-are .text-right{
        float: none;
        width: 100%;
        max-width: 100%;
        padding: 0;
    }
    .who-we-are .in-text{
        float: none;
    }
    .who-we-are .text{
        margin: 0;
        padding: 0;
    }
    .who-we-are .center{
        padding: 0;
    }
    .who-we-are .top-text{
        padding: 3% 10%;
    }
    .who-we-are .bottom-text{
        display: block;
    }
}
@media only screen and (max-width: 720px) {
    .btn-mob-nav{
        display: block;
    }
    .top-menu {
        background: #fff;
        left: 0;
        max-width: 151px;
        min-width: 151px;
        position: absolute;
        top: 64px;
        z-index: 1;
        padding: 0;
        display: none;
    }
    .top-menu > li {
        float: none;
        margin: 0;
        padding: 5px 15px;
        position: static;
    }
    .top-menu > li .drop{
        left: 151px;
        top: 0;
    }
    .top-menu > li a,
    .top-menu > li .drop a{
        display: block;
    }
    .top-menu > li a{
        font-size: 15px;
    }
    .top-menu > li .drop a{
        font-size: 12px;
    }
    .top-menu > li:hover{
        background: #dcc36a;
        color: #38383a;
    }
    .top-menu > li .drop:before{
        content: '';
        display: block;
        background: transparent;
        position: absolute;
        width: 100%;
        height: 30px;
        bottom: -30px;
        left: 0;
        right: 0;
    }
    .wrap-arrow > img {
        width: 25px;
    }
    .section h1{
        font-size: 30px;
    }
    .section h2{
        font-size: 30px;
    }
    .in-software-development .text-center{
        line-height: 20px;
    }
    .redesign .title{
        line-height: 30px;
        padding: 7px 9999px;
    }
    .redesign ul li{
        font-size: 24px;
    }
    .prototyping .wrap-arrow {
        padding: 0 0 8px 15px;
    }
    .prototyping .title{
        line-height: 30px;
        padding: 15px 0;
    }
    .prototyping.section {
        padding: 0 0 90px;
    }
    .deployment-testing .in-right{
        padding: 20px 20px 0;
    }
    .deployment-testing .block-left{
        padding-bottom: 30px;
    }
    .deployment-testing .in-left{
        padding-top: 20px;
    }
    .deployment-testing .block-right{
        padding-bottom: 20px;
    }
    .optimization {
        padding: 20px 0 30px;
    }
    .our-special .title{
        margin-bottom: 0;
        line-height: 20px;
        padding: 20px 9999px 20px;
    }
    .in-what-we-do{
        padding: 19px 0 50px 0;
    }
    .section .text-right,
    .section .text-left{
        line-height: 20px;
    }
    .in-what-we-do .big-img{
        display: none;
    }
    .in-what-we-do .small-img{
        display: block;
    }
    .in-what-we-do .small-img img{
        margin: 0 auto;
        max-width: 415px;
    }
    .footer-links{
        display: none;
    }
    .footer-contacts {
        float: none;
        text-align: center;
        width: 100%;
    }
    .our-technologies{
        padding: 8px 0 30px;
    }
    .in-software-development {
        padding: 15px 0 35px;
    }
    .web-design .block-right{
        padding: 20px 0;
    }
    .redesign,
    .graphic-design{
        padding-bottom: 30px;
    }
    .our-special .wraps-table{
        padding: 0;
    }
    .wrap-feedback button{
        font-size: 15px;
    }
    .wrap-top-cart{
        padding-top: 0;
    }
    .wrap-top-lang {
        padding: 0 0 0 4px;
    }
    .section.who-we-are .text-left,
    .section.who-we-are .text-right {
        font-size: 16px;
        line-height: 20px;
    }
    .our-experience .img-box.small{
        display: block;
        padding: 30px 0 30px;
    }
    .our-experience .img-box.big{
        display: none;
    }
    .section .text-center{
        padding-right: 20px;
        padding-left: 20px;
    }
}
@media only screen and (max-width: 620px) {
    .who-we-are .bottom-text .col-4{
        float: none;
        width: 100%;
        padding: 0;
        max-height: 150px!important;
    }
}
@media only screen and (max-width: 425px) {
    .logo {
        float: none;
        padding-bottom: 10px;
        text-align: center;
    }
    .top-menu{
        top: 106px;
    }
}
/*end media*/